# Interactive Notebook | Zeitsprung.FM

In [1]:
import pandas as pd
import numpy as np

In [12]:
# 1) create dummy pandas dataframe to play around with
# columns:
# EPISODE_NUM: episode number
# EPISODE_NAME: episode name
# HOST_NAME: host name
# START_YEAR: [YYYY] start year of story
# END_YEAR: [YYYY] end year of story
# START_MONTH: [MM] start year of story
# END_MONTH: [MM] end year of story
# MAIN_COUNTRY: main country for story
# COORD_FLAG: [0/1/2]
# COORD_LAT: if COORD_FLAG = 1: latitude of story
# COORD_LONG: if COORD_FLAG = 1: longitude of story
# COORD_ID: if COORD_FLAG == 2: ID of gps track


data = [
        {'EPISODE_NUM': 1, 
         'EPISODE_NAME': 'first episode title', 
         'HOST_NAME':'A',
         'START_YEAR': 1890,
         'END_YEAR': 1895,
         'START_MONTH': '02',
         'END_MONTH': '10',
         'MAIN_COUNTRY': 'FRANCE',
         'COORD_FLAG': 0,
         'COORD_LAT': '',
         'COORD_LONG': '',
         'COORD_ID': ''}]

data.append(
        {'EPISODE_NUM': 2, 
         'EPISODE_NAME': 'second episode title', 
         'HOST_NAME':'B',
         'START_YEAR': 1790,
         'END_YEAR': 1750,
         'START_MONTH': '01',
         'END_MONTH': '12',
         'MAIN_COUNTRY': 'GERMANY',
         'COORD_FLAG': 0,
         'COORD_LAT': '',
         'COORD_LONG': '',
         'COORD_ID': ''})

df = pd.DataFrame(data) 

df.to_csv('../data/test.csv', sep='\t', encoding='utf-8',index=False)

In [13]:
df

,EPISODE_NUM,EPISODE_NAME,HOST_NAME,START_YEAR,END_YEAR,START_MONTH,END_MONTH,MAIN_COUNTRY,COORD_FLAG,COORD_LAT,COORD_LONG,COORD_ID
0,1,first episode title,A,1890,1895,02,10,FRANCE,0,,,
1,2,second episode title,B,1790,1750,01,12,GERMANY,0,,,